<template>
  <div class="ship-panel">
    <p class="room">{{ room.name }}</p>
    <div class="ship-view">
      <div class="textual">
        <h1>Doors</h1>
        <div class="door" v-for="door in room.doors" v-bind:key="door.id">
          <p>{{ door.direction }} :</p>
          <ul>
            <li v-for="(action,key) in door.actions" v-bind:key="key">
              <a href="#" @click="executeAction(door, action)">
                <span v-if="action.actionPointCost > 0">{{action.actionMovementPointCost}}<img src="@/assets/images/pm.png" alt="mp"></span>{{action.name}}
              </a>
            </li>
          </ul>
        </div>

        <h1>Equipment</h1>

        <h1>Players</h1>

      </div>
    </div> <!-- PLACEHOLDER -->
    <div class="map-container">
      <div class="map">
        <img src="@/assets/images/shipmap.svg">
        <ul class="crew-position">
          <li class="self"></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <RoomInventoryPanel :items="room.items"></RoomInventoryPanel>
  </div>

</template>

<script>
import RoomInventoryPanel from "@/components/Game/RoomInventoryPanel";
import {Room} from "@/entities/Room";
import ActionService from "@/services/action.service";
import {mapActions} from "vuex";
export default {
  name: "ShipPanel",
  components: {
    RoomInventoryPanel
  },
  props: {
    room: Room
  },
  methods: {
    executeAction: function (door, action) {
      ActionService.executeDoorAction(door, action).then(() => this.reloadPlayer());
    },
    ...mapActions('player', [
      'reloadPlayer',
    ]),
  }
}
</script>

<style lang="scss" scoped>

.ship-panel {
  position: relative;
  flex-direction: row;
  width: 424px;
  height: 460px;

  & .ship-view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #09092d url("~@/assets/images/shipview/background.png") center repeat;
    @include corner-bezel(6.5px, 6.5px, 0px);
  }

  & .room {
    position: absolute;
    z-index: 5;
    margin: 8px 16px;
    font-family: 'Pixel-Square';
    font-size: 10px;
    font-weight: 700;
  }

  & .map-container {
    align-self: flex-end;
    z-index: 5;
    bottom: 200px;
    width: 240px;
    height: 200px;
    background: #070724;
    @include corner-bezel(0px, 18px, 0px);

    transform: scale(.5);
    transform-origin: bottom left;

    transition: transform .5s;

    &:hover { transform: scale(1); transition: transform .6s .2s; }

    & .map {
      width: 184px;
      height: 96px;
      margin: auto;
      transform: rotate(30deg);
    }

    & .crew-position {
      position:absolute;

      li {
        position: absolute;
        width: 4px;
        height: 4px;
        background: #FF8888;

        @for $i from 1 through 16 { // randomize crew position, for testing only
          &:nth-child(#{$i}) {
            left: random(156) + 10px;
            top: random(52) + 18px;
          }
        }

        &.self {
          z-index: 2;
          width: 6px;
          height: 6px;
          background: #889C28;

          animation: self-position-color 1.1s infinite;
        }
      }
    }
  }
}

/* PROVISIONAL SHIP INTERACTIONS */

.textual {
  overflow: auto;
  padding: 18px 12px 188px 12px;
  font-size: .83em;

  h1, h2, h3 {
    color: #cf1830;
    font-size: 1.5em;
    font-variant: small-caps;
    margin: 12px 0 4px 0;
  }

  p {
    margin: 12px 0 4px 0;
    font-weight: 700;
  }

  ul {
    flex-wrap: wrap;

    li a {
      @include button-style();
      padding: 1px 6px 3px 6px;
    }
  }
}



@keyframes self-position-color {
  0%   {background: #ffff00;}
  39%  {background: #ffff00;}
  40%  {background: #889C28;}
  100% {background: #889C28;}
}

</style>